<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Tony George</vendor>
  <vendor_url>https://github.com/teejee2008</vendor_url>
  <action id="in.teejeetech.pkexec.timeshift-gtk">
    <message>Authentication is required to run Timeshift as Administrator</message>
    <message xml:lang="zh_CN">运行系统备份和恢复需要系统管理员权限</message>
    <message xml:lang="zh_HK">運行系統備份和恢複需要系統管理員權限</message>
    <message xml:lang="zh_TW">運行系統備份和恢複需要系統管理員權限</message>
    <description>Run Timeshift as Administrator</description>
    <description xml:lang="zh_CN">以管理员身份运行系统备份和恢复</description>
    <description xml:lang="zh_HK">以管理員身份運行系統備份和恢複</description>
    <description xml:lang="zh_TW">以管理員身份運行系統備份和恢複</description>
    <icon_name>timeshift</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/timeshift-gtk</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
  <action id="in.teejeetech.pkexec.timeshift">
    <message>Authentication is required to run Timeshift as Administrator</message>
    <message xml:lang="zh_CN">运行系统备份和恢复需要系统管理员权限</message>
    <message xml:lang="zh_HK">運行系統備份和恢複需要系統管理員權限</message>
    <message xml:lang="zh_TW">運行系統備份和恢複需要系統管理員權限</message>
    <description>Run Timeshift as Administrator</description>
    <description xml:lang="zh_CN">以管理员身份运行系统备份和恢复</description>
    <description xml:lang="zh_HK">以管理員身份運行系統備份和恢複</description>
    <description xml:lang="zh_TW">以管理員身份運行系統備份和恢複</description>
    <icon_name>timeshift</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/timeshift</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
