[Desktop Entry]
Name=Timeshift
Name[zh_CN]=Timeshift系统备份与还原
MimeType=
Exec=timeshift-launcher
Type=Application
GenericName=System Restore Utility
GenericName[ca]=Utilitat de restauració del sistema
GenericName[cs]=Nástroj pro obnovení systému
GenericName[da]=Værktøj til systemgendannelse
GenericName[fr]=Utilitaire de restauration système
GenericName[hr]=Alat obnove sustava
GenericName[lt]=Sistemos atkūrimo paslaugų programa
GenericName[nl]=Hulpmiddel voor systeemherstel
GenericName[ru]=Программа для восстановления системы
GenericName[zh_CN]=系统备份和还原工具
Terminal=false
Icon=timeshift
Comment=System Restore Utility
Comment[ca]=Utilitat de restauració del sistema
Comment[cs]=Nástroj pro obnovení systému
Comment[da]=Værktøj til systemgendannelse
Comment[fr]=Utilitaire de restauration système
Comment[hr]=Alat obnove sustava
Comment[lt]=Sistemos atkūrimo paslaugų programa
Comment[nl]=Hulpmiddel voor systeemherstel
Comment[ru]=Программа для восстановления системы
Comment[zh_CN]=系统备份和还原工具
X-KDE-StartupNotify=false
Categories=System;GTK;Settings;DesktopSettings;XFCE;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
X-GNOME-UsesNotifications=true
